/* Add CSS Styling */
.odd {
    background-color: rgb(218, 0, 120);
    font-family: Verdana, "Dejavu Sans", sans-serif;
}

#two {
    color: rgb(10, 10, 255);
    font-size: 36px;
}

#three {
    font-size: 24px;
}

#four {
    background-color: rgb(10, 180, 10);
    font-size: 24px;
    font-weight: bold;
}